:root{
    --heding-color: rgb(14, 14, 99);
    --text-color: rgb(86, 86, 86);
    --secondary-color: rgb(243, 38, 79);
    --black: #111;
    --white: #fff;
    --font: 'Poppins', sans-serif;
    --transition: all .3s ease;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    outline: hidden;
}

/* general styling */
.wrapper{
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

header,
section {
    margin: 4rem 0;
}

h1{
    font-family: var(--font);
    font-weight: 600;
    color: var(--heding-color);
}

h2{
    font-family: var(--font);
    font-weight: 600;
    color: var(--heding-color);
}

h3{
    font-weight: 600;
    color: var(--heding-color);
    font-family: var(--font);
}

p{
    color: var(--text-color);
}

ul, li {
    list-style: none;
}

a {
    color: var(--black);
    cursor: pointer;
}
/* logo */
.logo a, 
.logo span{
    font-size: 1.5rem;
    font-weight: 600;
}

.logo span{
    color: var(--secondary-color);
}

/* scroll to top btn */
.scroll-up-btn {
    position: fixed;
    height: 30px;
    width: 30px; 
    background: var(--secondary-color);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 34px;
    color: var(--white);
    z-index: 1;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
    z-index: 1000;
}

.scroll-up-btn:active{
    transform: scale(1.09);
}
.scroll-up-btn.show {
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}

/*menu-btn */
.menu-btn{
    color: var(--black);
    font-size: 1.7rem;
    cursor: pointer;
    display: none;
}

/* Navbar section */
.navbar {
    overflow: hidden;
    background-color: var(--white);
    position: fixed; 
    top: 0; 
    width: 100%;
    transition: var(--transition); 
}
.navbar.active {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, .2);
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.nav-menu {
    display: inline-flex;
}

.nav-list a {
    padding: 0 1rem;
    color: var(--text-color);
    font-size: 1.1rem;
    transition: var(--transition);
}

.nav-list:hover a {
    color: var(--secondary-color);
}

.nav-cta a {
    color: var(--heding-color);
    font-size: 1rem;
    font-weight: 600;
    padding: .6rem;
    border: 1px solid lightgray;
    border-radius: .8rem;
    transition: var(--transition);
    cursor: pointer;
}

.nav-cta:hover a {
    background-color: var(--heding-color);
    color: var(--white);
    border-color: var(--heding-color);
}

/* Hero section */
.hero {
    padding-top: 3rem;
}
.hero-wrapper {
    background-color: rgb(229, 234, 236);
    padding: 4em;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-info-header {
    font-size: 2.8rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.hero-info-text {
    font-size: 1.1rem;
    font-weight:500;
    line-height: 2rem;
}

.hero-info-cta {
    margin-top: 3rem;
}

.hero-info-cta a {
    color: var(--white);
    background-color: var(--secondary-color);
    font-size: 1rem;
    padding: .6rem 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: .8rem;
    transition: var(--transition);
    cursor: pointer;
}

.hero-info-cta:hover a {
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}

.hero-img-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.hero-img-column {
    width: 150px;
    flex: 25%;
    padding: 0 4px;
}

.hero-img-column img {
    margin: 8px 0;
    vertical-align: middle;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}

/* customer section && about section */
.customer-wrapper,
.about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}

.customer-cards,
.about-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .6rem;
}

.customer-card {
    text-align: center;
    border: 1px solid lightgray;
    border-radius: .8rem;
    padding: 1rem 0;
    margin-right: 1rem;
}

.customer-card-icon {
    width: 100%;
}

.customer-card-icon img {
    width: 80px;
    height: 80px;
}

.customer-card-heading h3 {
    font-size: 1.1rem;
    padding: .8rem 0;
}

.customer-card-text p {
    font-size: .8rem;
}

.customer-info-heading h2,
.about-info-heading h2 {
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.customer-info-text p,
.about-info-text p,
.blog-card-info .card-text p{
    padding-bottom: 1.5rem;
    margin: auto;
}

.customer-info-sub_text p,
.about-info-sub_text p,
.blog-card-info .blog-card-sub_text p{
    font-size: .8rem;
}

.customer-info-sub_text a,
.about-info-sub_text a,
.blog-card-info .blog-card-sub_text a{
    color: var(--secondary-color);
}

.customer-info-cta,
.about-info-cta {
    margin-top: 3rem;
}

.customer-info-cta a,
.about-info-cta a {
    color: var(--heding-color);
    font-size: 1rem;
    padding: .6rem;
    border: 1px solid lightgray;
    border-radius: .8rem;
    transition: var(--transition);
    cursor: pointer;
}

.customer-info-cta:hover a,
.about-info-cta:hover a {
    background-color: var(--heding-color);
    color: var(--white);
    border-color: var(--heding-color);
}

/* About section */
.about-card-img {
    width: 100%;
}

.about-card-img img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

/* blog section */
.blog {
    background-color: rgb(229, 234, 236);
}

.blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.blog-title {
    font-size: 1.4rem;
}

.blog-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
    margin: 0 3rem;
}

.blog-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.blog-card-img img {
    padding-right: 2rem;
}

.blog-card-info .card-title p {
    padding-bottom: 1.2rem;
    font-size: 1.3rem;
    color: var(--heding-color);
}

/* footer section */
.footer {
    padding-bottom: 1rem;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-info .logo {
    padding-bottom: 1.4rem;
}

.footer-socials {
    display: flex;
    align-items: center;
}

.footer-social-icon a {
    font-size: 1.3rem;
    margin-left: 1.2rem;
    color: var(--heding-color);
    transition: var(--transition);
}

.footer-social-icon:hover a {
    color: var(--secondary-color);
}

/* MEDIA QUERIES SECTION */
@media only screen and (max-width:1280px){
    .wrapper{
        width: 90%;
    }
}

@media only screen and (max-width:960px){
    
}

@media only screen and (max-width:768px){
    header,
    section {
        margin: 3rem 0;
    }

    .navbar .nav-menu{
        display: block;
        position: fixed;
        background: #fff;
        box-shadow: 5px 5px 5px rgba(1, 1, 1, .2);
        right: -100%;
        top: 80px;
        width: 250px;
        border-radius: 8px;
        z-index: 50;
        transition: right .6s ease;
    }

    .navbar .nav-menu.activated{
        right: 10px;
    }

    .navbar .nav-list{
        margin-left: 0rem;
    }

    .navbar .nav-list .nav-link{
        color: var(--black);
        padding: 1rem;
        display: inline-block;
        transition: color .3s ease;
    }

    /*menu-btn */
.menu-btn{
    color: var(--black);
    font-size: 1.7rem;
    cursor: pointer;
    display: block;
}

/* Hero section */
.hero {
    padding-top: 3rem;
}
.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.hero-info {
    margin-bottom: 3rem;
    text-align: center;
}

.hero-info-header {
    font-size: 2.3rem;
    padding-bottom: 1rem;
}

.hero-info-text {
    font-size: 1rem;
}

/* customer section && about section */
.customer-wrapper,
.about-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
}

/* Blog section */
.blog-cards {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
}

.blog-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 3rem 0;
}

}


@media only screen and (max-width:500px){
    header,
    section {
        margin: 2rem 0;
}

    /* logo */
    .logo a, 
    .logo span{
    font-size: 1.2rem;
}

/* hero section */
.hero-info-header {
    font-size: 1.6rem;
}

.hero-info-text {
    font-size: .8rem;
    text-align: center;
}

.hero-info-cta a {
    font-size: .8rem;
    padding: .4rem .6rem;
    border-radius: .4rem;
}

.hero-img-column {
    flex: 30%;
}

/* customer section && about section */
.customer-wrapper,
.about-wrapper {
    text-align: center;
}

.customer-cards,
.about-cards{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: .5rem;
}

.customer-card-icon img {
    width: 50px;
    height: 50px;
}

.customer-info-heading h2,
.about-info-heading h2,
.blog-title h1 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

/* About section */
.about-card-img img {
    width: 100%;
}

/* blog section */
.blog-cards {
    padding-top: 1.6rem;
    margin: 0rem;
}

.blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer {
    padding-bottom: .5rem;
}

.footer-wrapper {
    flex-direction: column;
    text-align: center;
}

.footer-info .logo {
    padding-bottom: 1rem;
}

.footer-socials {
    margin-top: 1rem;
}

.footer-social-icon a {
    font-size: 1rem;
    margin: 0 .5rem;
}

.footer-text p,
.copyright {
    font-size: .8rem;
}

}




